.experience-container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.experience-container .section-header {
   margin-bottom: -45px;
}

.experience-container > h2 {
   margin-top: 50px;
}
