@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   --menu-hover: #f1f1f1;
   --navbar-width: 160px;
   --navbar-width-min: 80px;
   --text-color: black;
   --background: #f1f1f1;
   --navbar-dark-primary: #121622;
   --navbar-light-primary: #f5f6fa;
   --at-color: #2c3e50;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--background);
   color: var(--text-color);
   margin: 0;
   display: flex;
   align-items: center;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-optical-sizing: auto;
   font-size: 16px;
}

a {
   text-decoration: none;
   color: #0d45ac;
   font-weight: 500;
}

h1 {
   font-weight: 500;
   font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 500;
}

p {
   margin-top: 10px;
   margin-bottom: 10px;
}

ol {
   margin-top: 5px;
}

ol li {
   margin-top: 4px;
}

.section-header {
   display: flex;
   align-items: center;
   gap: 10px;
}


section:target {
   scroll-margin-top: 20px;
}

.main-container {
   width: 75vw;
   margin-left: calc(var(--navbar-width) + 70px);
   margin-right: 70px;
   max-width: 1400px;
}

.row {
   display: flex;
   gap: 40px;
}

.hide {
   display: none;
}

.step {
   margin-top: -30px;
   margin-bottom: -20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   color: var(--at-color);
}

@media (width <= 1000px) {
   .main-container {
      margin-left: 80px;
   }

   h1 {
      font-weight: 500;
      font-size: 30px;
   }

   h2 {
      font-size: 20px;
   }

   h3 {
      font-size: 21px;
   }

   p {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   ol {
      margin-left: -25px;
   }

   .step h3 {
      font-size: 16px;
   }
}