@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   display: flex;
   align-items: center;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-optical-sizing: auto;
}

a {
   text-decoration: none;
   color: #0d45ac;
   font-weight: 500;
}

.main-container {
   width: 75vw;
   margin-left: 240px;
}

.row {
   display: flex;
   gap: 40px;
}