@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   --menu-hover: #f1f1f1;
   --navbar-width: 160px;
   --navbar-width-min: 80px;
   --text-color: black;
   --background: #f1f1f1;
   --dark-primary: #122c4d;
   --primary: #092d5c;
   --link-color: var(--primary);
   --light-primary: #f1f1f1;
   --at-color: #484d5e;
   --card-hover-color: var(--dark-primary);
   --spacing: 20px;
   --card-padding: 20px;
   --border-radius: 5px;
   --border: 1px solid;
   --pico-h1-color: #2d3138;
   --pico-h2-color: #373c44;
   --pico-h3-color: #424751;
   --pico-h4-color: #4d535e;
   --pico-h5-color: #5c6370;
   --pico-h6-color: #646b79;
   --pico-color: #373c44;
   --pico-typography-spacing-vertical: 0.5rem;
   --pico-font-size: 16px;
   --pico-line-height: 1.5;
   --pico-font-family: var(--pico-font-family-sans-serif);
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--background);
   color: var(--text-color);
   margin: 0;
   display: flex;
   align-items: center;
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-optical-sizing: auto;
}

ol, ul {
   margin-left: -10px;
}

li {
   margin-bottom: calc(var(--spacing)/4);
}

li::marker{
   font-size: 0.77em;
   line-height: 0.1;
}

a {
   text-decoration: none;
   color: var(--link-color);
   font-weight: 500;
}

.section-header {
   display: flex;
   align-items: center;
   gap: 5px;
}

.section-header > i {
   background-color: var(--dark-primary);
   margin-bottom: 1rem;
   width: 39px;
   height: 39px;
}

section:target {
   scroll-margin-top: 20px;
}

.main-container {
   width: 75vw;
   margin-left: calc(var(--navbar-width) + 70px);
   max-width: 1400px;
}

.row {
   display: flex;
   gap: 40px;
}

.hide {
   display: none;
}

.step {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: var(--pico-typography-spacing-vertical);
   color: var(--pico-color);
   font-weight: var(--pico-font-weight);
   font-size: var(--pico-font-size);
   line-height: var(--pico-line-height);
   font-family: var(--pico-font-family);
}

p {
   margin-top: var(--pico-typography-spacing-vertical);
   margin-bottom: var(--pico-typography-spacing-vertical);
}

h1 {
   --pico-font-size: 1.5rem;
   --pico-line-height: 1.6;
   --pico-color: var(--pico-h1-color);
   --pico-typography-spacing-vertical: 1rem;
}

h2 {
   --pico-font-size: 1.25rem;
   --pico-line-height: 1.15;
   --pico-color: var(--pico-h2-color);
}

h3 {
   --pico-font-size: 1rem;
   --pico-line-height: 1.175;
   --pico-color: var(--pico-h3-color);
}

h4 {
   --pico-font-size: 0.75rem;
   --pico-line-height: 1.2;
   --pico-color: var(--pico-h4-color);
}

h5 {
   --pico-font-size: 0.75rem;
   --pico-line-height: 1.225;
   --pico-color: var(--pico-h5-color);
}

h6 {
   --pico-font-size: 0.5rem;
   --pico-line-height: 1.25;
   --pico-color: var(--pico-h6-color);
}

@media (min-width: 576px) {
   :root {
      --pico-font-size: 103%;
   }
}

@media (min-width: 768px) {
   :root {
      --pico-font-size: 103%;
   }
}

@media (min-width: 1024px) {
   :root {
      --pico-font-size: 102%;
   }
}

@media (min-width: 1280px) {
   :root {
      --pico-font-size: 102%;
   }
}

@media (min-width: 1536px) {
   :root {
      --pico-font-size: 102%;
   }
}

:where(:root) {
   -webkit-tap-highlight-color: transparent;
   -webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-size-adjust: 100%;
   background-color: var(--pico-background-color);
   color: var(--pico-color);
   font-weight: var(--pico-font-weight);
   font-size: var(--pico-font-size);
   line-height: var(--pico-line-height);
   font-family: var(--pico-font-family);
   text-underline-offset: var(--pico-text-underline-offset);
   text-rendering: optimizeLegibility;
   overflow-wrap: break-word;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
}

/* --- */

@media (width <=1000px) {
   .main-container {
      width: 100vw;
      margin-left: 0;
      padding: 30px;
   }

   ol, ul {
      margin-left: -25px;
   }
}