.education-container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.education-container .section-header {
   margin-bottom: -5px;
}

.degree-container {
   margin-top: 0px;
   display: flex;
   gap: 50px;
}

.degree-container h3 {
   margin-top: -15px;
   color: #6d6d6d;
}

.degree-container h4 {
   color: black;
   font-size: 20px;
   margin-bottom: -5px;
}

.degree-container h6 {
   color: black;
}

.degree-container > div:first-child {
   width: 60%;
   margin-bottom: 30px;
}

.degree-container > div:nth-child(2) {
   width: 40%;
}
