.education-container {
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.education-container > div:first-child {
   margin-bottom: 30px;
}

.degree-container {
   display: flex;
}

.degree-container > div:first-child {
   width: 60%;
}

.degree-container > div:nth-child(2) {
   width: 40%;
}
