.experience-container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.experience-container > .section-header > i {
   width: 30px;
   height: 30px;
}

.experience-section {
   margin-bottom: var(--spacing);
}

@media (width <=1000px) {
   .experience-container {
      min-height: auto;
      margin-top: calc(var(--spacing)*2);
   }
}