.experience-container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.experience-container > .section-header > i {
   width: 30px;
   height: 30px;
}
