.interests-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interests-container > .section-header > i {
    width: 22px;
    height: 22px;
}