.category-projects-container {
   padding-bottom: 30px;
   padding-right: 10px;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.project-container {
   color: var(--text-color);
   min-width: 350px;
   width: 31.7%;
   border: var(--border);
   border-color: rgba(156,163,175, 0.25);
   border-radius: var(--border-radius);
   padding: calc(var(--card-padding)/4);
}

.project-container:hover  {
   border: 1px solid var(--card-hover-color);
   border-radius: 5px;
   cursor: pointer;
}

.navigable-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navigable-header button {
   background-color: transparent;
   border: 0px;
   cursor: pointer;
}

.table-header {
   font-weight: 500;
   color: rgb(116, 116, 116);
}

td {
   padding: 5px;
   vertical-align: baseline;
}

tr:nth-child(1) {
   font-weight: bold;
}

tr:nth-child(2) {
   font-size: 0.95rem;
}

td > span {
   font-size: medium;
   opacity: 87%;
}

td > span:not(:first-child) {
   margin-left: 20px;
}

@media (width <= 1000px) {
   .project-container {
      width: 100%;
      min-width: 300px;
   }
}
