.category-projects-container {
   padding-bottom: 30px;
   padding-top: 20px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   gap: 15px;
   overflow-x: scroll;
   scrollbar-width: 2px;
   scrollbar-color: #0d45ac transparent;
}

.project-container {
   min-width: 350px;
   width: 33vw;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
   border-radius: 5px;
   padding: 5px;
}

.navigable-header {
   display: flex;
   justify-content: space-between;
}

.navigable-header > button {
   background-color: transparent;
   border: 0px;
   cursor: pointer;
}

.table-header {
   font-weight: 500;
   color: rgb(116, 116, 116);
}

td {
   padding: 5px;
   vertical-align: baseline;
}

tr:nth-child(1) {
   font-weight: bold;
}

td > span {
   font-size: medium;
}

td > span:not(:first-child) {
   margin-left: 20px;
}
