.category-projects-container {
   padding-bottom: 30px;
   padding-right: 10px;
   display: flex;
   gap: 15px;
}

.project-container {
   min-width: 350px;
   width: 33%;
   color: black;
   border: 1px solid rgba(5, 3, 3, 0.17);
   border-radius: 5px;
   padding: 5px;
}

.project-container:hover  {
   border: 1px solid #0d45ac;
   border-radius: 5px;
   cursor: pointer;
   color: #0d45ac;
   opacity: 80%;
}

.navigable-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navigable-header button {
   background-color: transparent;
   border: 0px;
   cursor: pointer;
}

.table-header {
   font-weight: 500;
   color: rgb(116, 116, 116);
}

td {
   padding: 5px;
   vertical-align: baseline;
}

tr:nth-child(1) {
   font-weight: bold;
}

td > span {
   font-size: medium;
   opacity: 87%;
}

td > span:not(:first-child) {
   margin-left: 20px;
}
