.side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}

.side-container h3 {
    color: var(--text-color);
    font-size: 1.2rem;
}

.side-container > .section-header > i {
    width: 25px;
    height: 25px;
}

.avh-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.v-container {
    width: 20%;
}

.v-container > ul {
    margin-left: -60px;
    list-style: none;
}

.hackathon-div {
    border-radius: 5px;
    padding: 20px;
    color: inherit;
}

.hackathon-div:hover {
    color: var(--card-hover-color);
    cursor: pointer;
}

.hackathon-div > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.v-container > ul > li {
    padding: 20px;
    border-radius: 5px;
}

.v-container > ul > li > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ap-container {
    width: 75%;
}

.articles-presentations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article-presentation-card {
    width: 100%;
    color: inherit;
    min-width: 350px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    padding: 10px;
}

.article-presentation-card:hover {
    color: var(--card-hover-color);
}

.image-container {
    border-radius: 5px;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container-2 {
    border-radius: 5px;
    --width: 60px;
    width: var(--width);
    height: var(--width);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}

@media (width <= 1200px) {
    .avh-container {
        flex-direction: column;
    }

    .v-container {
        margin-top: calc(var(--spacing)*2);
        width: 100%;
    }

    .ap-container {
        width: 100%;
    }
}

@media (width <= 1000px) {
    .side-container {
        min-height: auto;
    }
}

@media (width <= 700px) {
    .article-presentation-card {
        gap: 5px;
        flex-direction: column;

    }

    .image-container {
        width: 300px;
        max-width: 300px;
    }

    .side-container h3 {
        margin-top: calc(var(--spacing)/2);
    }
}