.nav-bar {
   position: fixed;
   left: 0vw;
   top: 0vw;
   height: calc(100%);
   background: var(--primary);
   color: var(--light-primary);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: var(--navbar-width);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   font-weight: 500;
   transition: width .2s;
   font-size: 16px;
}

.me {
   margin-left: 22.5px;
   margin-bottom: 20px;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   background-image: url(/assets/me_rounder.png);
   background-size: cover;
   border: 1px solid gainsboro;
}

.nav-bar a {
   color: inherit;
   text-decoration: inherit;
}

.nav-button {
   position: relative;
   margin-left: 16px;
   height: 54px;
   display: flex;
   align-items: center;
   direction: ltr;
   cursor: pointer;
   z-index: 1;
   transition: color .2s;
}

.nav-button span {
   transition: opacity 1s;
}

.nav-button {
   padding-right: calc(var(--navbar-width)/4);
}

.active
/* .nav-button:hover  */
   {
   height: 54px;
   background: var(--menu-hover);
   border-radius: 16px 0 0 16px;
   transition: top .2s;
   color: var(--dark-primary);
}

.active .about-icon,
.active .education-icon,
.active .stack-icon,
.active .projects-icon,
.active .pursuits-icon,
.active .interests-icon,
.active .experience-icon

/* .nav-button:hover .about-icon,
.nav-button:hover .education-icon,
.nav-button:hover .stack-icon,
.nav-button:hover .projects-icon,
.nav-button:hover .pursuits-icon,
.nav-button:hover .interests-icon,
.nav-button:hover .experience-icon
*/
   {
   background-color: var(--dark-primary);
}

.active:before,
.active:after

/* .nav-button:hover:before,
.nav-button:hover:after */
   {
   content: '';
   position: absolute;
   right: 0;
   bottom: 100%;
   width: 32px;
   height: 32px;
   border-radius: 50%;
   box-shadow: 16px 16px var(--menu-hover);
}

.active::after,
.nav-button:hover:after {
   top: 100%;
   box-shadow: 16px -16px var(--menu-hover);
}


.icon {
   display: inline-block;
   background-color: white;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
   padding-left: 7px;
   padding-right: 7px;
}

.about-icon,
.education-icon,
.stack-icon,
.projects-icon,
.pursuits-icon,
.interests-icon,
.experience-icon {
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
}

.about-icon {
   width: 1em;
   height: 1em;
   --svg: url(/assets/about.svg);
}

.education-icon {
   width: 1em;
   height: 1em;
   --svg: url(/assets/education.svg);
   background-color: currentColor;
}

.stack-icon {
   width: 1em;
   height: 1em;
   --svg: url(/assets/stack.svg);
}

.experience-icon {
   width: 1em;
   height: 1em;
   --svg: url(/assets/experience.svg);
}

.projects-icon {
   width: 0.7em;
   height: 0.7em;
   --svg: url(/assets/projects.svg);
}

.pursuits-icon {
   width: 0.8em;
   height: 0.8em;
   --svg: url(/assets/side.svg);
}

.interests-icon {
   width: 0.8em;
   height: 0.8em;
   --svg: url(/assets/interests.svg);
}

@media (width <=1000px) {
   .nav-bar {
      z-index: 1;
      width: 100vw;
      top: initial;
      left: 0vw;
      bottom: 0vw;
      width: 100vw;
      height: 50px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
   }

   .nav-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
   }

   .nav-button {
      padding-left: 0px;
      padding-right: 0px;
   }

   .nav-button span {
      display: none;
   }

   .active {
      background-color: var(--primary) ;
      border-radius: 0px 0 0 0px;
   }

   .active:before,
   .active:after {
      width: 0px;
      height: 0px;
      border-radius: 0%;
   }

   .active .about-icon,
   .active .education-icon,
   .active .stack-icon,
   .active .projects-icon,
   .active .pursuits-icon,
   .active .interests-icon,
   .active .experience-icon {
      background-color: var(--background);
   }

   .me {
      display: none;
   }
}