.side-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.v-container {
    width: 23%;
}

.v-container > ul {
    margin-left: -40px;
    list-style: none;
}

.hackathon-div {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 20px;
}

.hackathon-div > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.v-container > ul > li {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    border-radius: 5px;
}

.v-container > ul > li > div {
    display: flex;
    gap: 20px;
}

.v-container > ul > li > div > h3 {
    margin-bottom: -10px;
}

.ap-container {
    width: 75%;
}

.ap-container > ul {
    margin-left: -40px;
    list-style: none;
}

.ap-container > ul > li {
    margin-bottom: 10px;
    min-width: 350px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 10px;
}

.ap-container > li > div > h3 {
    margin-bottom: 10px;
}

.image-container {
    border-radius: 5px;
    min-width: 200px;
    height: 150px;
    background-color: gainsboro;
}

.image-container-2 {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: gainsboro;
}