.nav-bar {
   position: fixed;
   left: 0vw;
   top: 0vw;
   height: calc(100%);
   background: var(--navbar-dark-primary);
   color: var(--navbar-light-primary);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: var(--navbar-width);
}

.me {
   margin-left: 22.5px;
   margin-bottom: 20px;
   width: 120px;
   height: 120px;
   border-radius: 50%;
   background-image: url(/assets/me_rounder.png);
   background-size: cover;
   border: 1px solid gainsboro;
}

.nav-bar a {
   color: inherit;
   text-decoration: inherit;
}

.nav-content {
   background: var(--navbar-dark-primary);
   box-shadow: 0 0 0 16px var(--navbar-dark-primary);
   overflow: hidden;
   font-size: 16px;
   font-weight: 500;
   transition: width .2s;
}

.nav-button {
   position: relative;
   margin-left: 16px;
   height: 54px;
   display: flex;
   align-items: center;
   direction: ltr;
   cursor: pointer;
   z-index: 1;
   transition: color .2s;
}

.nav-button span {
   transition: opacity 1s;
}

.nav-button {
   padding-right: calc(var(--navbar-width)/4);
}

.nav-button:hover {
   height: 54px;
   background: var(--menu-hover);
   border-radius: 16px 0 0 16px;
   transition: top .2s;
   color: var(--navbar-dark-primary);
}

.nav-button:hover .mdi--user,
.nav-button:hover .cil--education,
.nav-button:hover .layers,
.nav-button:hover .projects,
.nav-button:hover .side,
.nav-button:hover .interests,
.nav-button:hover .experience {
   background-color: var(--navbar-dark-primary);
}

.icon {
   display: inline-block;
   background-color: white;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
   padding-left: 7px;
   padding-right: 7px;
}

.mdi--user,
.cil--education,
.layers,
.projects,
.side,
.interests,
.experience {
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
}

.mdi--user {
   width: 1em;
   height: 1em;
   --svg: url(/assets/about.svg);
}

.cil--education {
   width: 1em;
   height: 1em;
   --svg: url(/assets/education.svg);
   background-color: currentColor;
}

.layers {
   width: 1em;
   height: 1em;
   --svg: url(/assets/stack.svg);
}

.projects {
   width: 0.7em;
   height: 0.7em;
   --svg: url(/assets/projects.svg);
}

.side {
   width: 0.8em;
   height: 0.8em;
   --svg: url(/assets/side.svg);
}

.interests {
   width: 0.8em;
   height: 0.8em;
   --svg: url(/assets/interests.svg);
}

.experience {
   width: 1em;
   height: 1em;
   --svg: url(/assets/experience.svg);
}

.nav-button:hover:before,
.nav-button:hover:after {
   content: '';
   position: absolute;
   right: 0;
   bottom: 100%;
   width: 32px;
   height: 32px;
   border-radius: 50%;
   box-shadow: 16px 16px var(--menu-hover);
}

.nav-button:hover:after {
   top: 100%;
   box-shadow: 16px -16px var(--menu-hover);
}

@media (width <= 1000px) {
   .nav-bar {
      width: 50px;
   }

   .nav-button {
      padding-left: 25px;
   }

   .nav-button span {
      display: none;
   }

   .me {
      display: none;
   }
}
