.stack-container {
   margin-top: 20px;
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.stack-container > .section-header > i {
   width: 26px;
   height: 26px;
}

.fields-of-knowledge {
   display: grid;
   grid-template-columns: 2fr 0.5fr 0.5fr;
   gap: var(--spacing) var(--spacing);
   margin-bottom: var(--spacing);
   grid-auto-flow: row;
   grid-template-areas:
   "backend-container frontend-container frontend-container"
   "dbs-container frontend-container frontend-container"
   "prolangs-container prolangs-container prolangs-container";
}

.tech {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: var(--spacing);
}

.tech h2,
.tech-vertical h2,
.lang-vertical h2 {
   font-size: 0.9rem;
   font-weight: bold;
}

.tech h4,
.tech-vertical h4,
.lang-vertical h4 {
   font-size: 0.8rem;
}


.tech-vertical {
   display: flex;
   flex-direction: column;
   width: 33%;
}

.tech-vertical img {
   margin-bottom: 10px;
}

.lang-vertical {
   width: 22%;
   min-width: 150px;
}

.lang-vertical > div {
   display: flex;
   align-items: center;
   gap: 5px;
}

.fields-of-knowledge h6 {
   color: gray;
   font-weight: 400;
   font-size: 13px;
}

.html-css {
   display: flex;
   flex-direction: column;
   margin-left: -17px;
}

.html-css > img:nth-child(2) {
   margin-top: -25px;
   padding-left: 15px;
}

.stack-card {
   border: var(--border);
   border-color: rgba(156,163,175, 0.19);
   border-radius: var(--border-radius);
   padding: var(--card-padding);
}

/* ====== Frontend ====== */

.front-end-container {
   grid-area: frontend-container;
   display: flex;
   flex-direction: column;
}

.front-end-container > div {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   flex-grow: 1;
}

.front-end-container > div > div {
   display: flex;
   width: 48%;
}

/* ====== Backend ====== */

.back-end-container {
   grid-area: backend-container;
   display: flex;
   flex-direction: column;
}

.back-end-container > div p {
   opacity: 95%;
}

.back-end-container > div {
   margin-top: calc(var(--spacing)/2);
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.back-end-container > div > div:nth-child(1) {
   width: 55%;
}

.back-end-container > div > div:nth-child(2) {
   width: 35%;
}

/* ====== Databases ====== */

.dbs-container {
   grid-area: dbs-container;
   display: flex;
   flex-direction: column;
}

.dbs-container > div {
   margin-top: 15px;
   display: flex;
   gap: 20px;
   flex-grow: 1;
   align-items: center;
}

/* ====== Programming Languages ====== */

.prolangs-container {
   grid-area: prolangs-container;
}

.prolangs-container > div {
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.low-level-langs {
   display: flex;
   align-items: center;
   white-space: nowrap;
}

/* ====== Rest ====== */

.rest-container {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.ds-container {
   width: 40%;
}

.ds-container > div {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 25px;
}

.others-container {
   width: 60%;
}

.others-container > ul {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding-left: 15px;
}

.others-container > ul > li {
   width: 49%;
}

@media (width <= 1470px) {
   .others-container > ul > li {
      width: 100%;
   }
}

@media (width <= 1000px) {
   .stack-container {
      min-height: initial;
   }

   .fields-of-knowledge {
      display: flex;
      flex-direction: column;
   }

   .rest-container {
      flex-direction: column;
   }

   .ds-container {
      width: initial;
   }

   .others-container {
      width: initial;
   }

   .others-container > ul {
      padding-left: 37px;
   }

   .others-container > ul > li {
      width: initial;
   }

   .lang-vertical {
      width: 250px;
   }
}
